mixin form(head, label)
  form.facade-form.is-hidden(action="#", method="POST")
    h2= head
    fieldset
      input.facade-full-name(type="text", name="full-name", placeholder="Full Name")
      input.facade-email(type="text", name="email", placeholder="Email")
    button.submit-btn(type="submit")= label
  .thank-you.is-hidden
    h2 Thank You
    p Congratulations! You’ve just taken the first step in earning your Bachelor of Arts in Aviation Management from Florida Tech – 100% online. You will receive more information shortly.
    p In the meantime, check out Florida Tech’s learning library to discover more about the program.
    a.button-cta(href="//www.floridatechonline.com/access/") Start Exploring
    p For more information, visit <a href="//www.floridatechonline.com/">www.floridatechonline.com</a> or call <a href="tel:8883528325">888-352-8324</a>.
