.hero
  .hero-inner
    a.hero-logo(href="#")
      img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png", alt="Load Image")
    .hero-copy
      h1 Short description of Product
      p A few reasons why this product is worth using, who it's for and why they need it.
