include ../views/form-unit.jade

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="css/root.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Montserrat:400,700")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    script(src="js/jquery.min.js")
    script(src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js")
    script(src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js")
    script(src="//info.bisk.com/bat/Content/Scripts/jquery.tcpa.js")
    script(src="js/main.js")
  body
    //- include ../views/hero-unit.jade

    section.logo-container
      img.logo(src="images/logo.svg")

    section.content-container.hero-container
      h1.title Go Farther with a Degree in Aviation Management &ndash; 100% Online
      a.button-cta(href="#target-form") Learn More

    section.content-container.lead-form-container
      +form('See 2016 Salary Trends in Aviation Management', 'Get Info')

    section.content-container.band1
      .visual &nbsp;
      .content
        h2 You&rsquo;re Better. Do Better
        p Earn a Bachelor of Arts in Aviation Management from Florida Tech &ndash; 100% Online.
        a.button-cta(href="#target-form") Learn More

    section.content-container.band2
      .content
        h2 Be the hero your family wants you to be.
        p Increase career opportunities with a BA in Aviation Management from Florida Tech &ndash; 100% Online.
        a.button-cta(href="#target-form") Start Now
      .visual
        img(src="images/family-dad-kid.png", alt="Father and Son")

    section.content-container.band3
      .visual
        .video-wrapper
          iframe(src="https://www.youtube.com/embed/sqoWX_Tp2Hk" frameborder="0" allowfullscreen="true")
      .content
        h2 Go for it.
        p Get real-world advice from a Florida Tech grad and top aviation expert.
        //- a.button-cta(href="") Watch Video

    section.content-container.band4
      .content
        h2 About Florida Tech
        p Regionally-accredited Florida Tech is a pioneer in the fields of space and technology and is proud to have trained many NASA scientists and astronauts. The Bachelor of Arts in Aviation Management is offered 100% online and is taught by top faculty who are experts in all aspects of aviation. Through a broad-based liberal arts curriculum, students gain access to in-depth, career-specific aviation and management courses. Students graduate with a strong background in aviation, experience in modern aviation technology, and best practices in business.


    section.content-container.lead-form-container
      +form('Boost your career in aviation with a degree.', 'Start Here')


    section.content-container.is-hidden
      include ../views/bat-form-unit.html
