@import "libs/reset.scss";
@import "bourbon/bourbon";
@import "neat/neat";
// @import "libs/hero-unit";

html,
button {
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #5d5d5d;
  line-height: 1.2;
}

h1.title {
  text-transform: uppercase;
}

a {
  color: #600;
  text-decoration: none;
}

.facade-form {
  &.is-hidden {
    display: none;
  }
}
// Form Input Fields
.facade-form input {
  border: none;
  border-bottom: 2px solid #600;
  margin: 1em 0.5em;

  &:focus {
    outline: none;
  }
}
@media (min-width: 20em) {
  .facade-form input {
    font-size: 0.8em;
    width: 80%;
  }
}
@media (min-width: 50em) {
  .facade-form input {
    font-size: 1.4em;
    width: auto;
  }
}
// END: Form Input Fields

// Call to Action Button
.button-cta,
.facade-form > .submit-btn {
  padding: 0.8em 2.5em 0.8em 0.8em;
  border: 2px solid #600;
  border-radius: 0.3em;
  background-repeat: no-repeat;
  background-size: 1.4em 1.4em;
  background-position: right 0.5em center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;

  font-size: 1.2em;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  line-height: 1em;

  cursor: pointer;

}
 .button-cta {
 background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20viewBox%3D%220%200%2034.12%2023.69%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23600%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Earrow%3C/title%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220%208.29%2020.52%208.29%2012.22%200%2022.27%200%2034.12%2011.85%2022.27%2023.69%2012.22%2023.69%2020.52%2015.4%200%2015.4%200%208.29%22/%3E%3C/svg%3E');
  background-color: #FFCD33;
  color: #600;
}
.facade-form > .submit-btn {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20viewBox%3D%220%200%2034.12%2023.69%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23FFF%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Earrow%3C/title%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%220%208.29%2020.52%208.29%2012.22%200%2022.27%200%2034.12%2011.85%2022.27%2023.69%2012.22%2023.69%2020.52%2015.4%200%2015.4%200%208.29%22/%3E%3C/svg%3E');
  background-color: #600;
  color: #fff;
}
// END: Call to Action Button

// General Content Section
.content-container {
  padding: 1em;

  &.is-hidden {
    display: none;
  }

  @include outer-container;
}
@media (min-width: 20em) {
  .content-container {
    .visual {
      display: none;
    }
    .content {
      @include span-columns(12);
      h2 {
        font-size: 1.6em;
        margin-bottom: 0.8em;
      }
      p {
        font-size: 1em;
        margin-bottom: 1.6em;
      }
    }
  }
}
@media (min-width: 50em) {
  .content-container {
    .visual {
      display: block;
      @include span-columns(6);
    }
    .content {
      @include span-columns(6);

      h2 {
        font-size: 1.8em;
        font-weight: 900;
      }

      p {
        font-size: 1.2em;
        width: 72%;
      }
    }
  }
}
// END: General Content Section

// Lead Form Facade Container
.lead-form-container {
  text-align: center;
  background-color: #fff;

  fieldset {
    margin-bottom: 1em;
  }

}
@media screen and (min-width: 20em) {
  .lead-form-container {
    h2 {
      font-size: 1.2em;
      margin: 1em 1em;
    }
  }
}
@media screen and (min-width: 50em) {
  .lead-form-container {
    padding-bottom: 2em;

    h2 {
      font-size: 1.6em;
      font-weight: 700;
    }
  }
}
// END: Lead Facade Form Container
// Thank You Container
.thank-you {
  text-align: center;
  background-color: #fff;

  p {
    margin: 1em 0;
  }

  &.is-hidden {
    display: none;
  }
}
@media screen and (min-width: 50em) {
  .thank-you {
    width: 70%;
    margin: 0 auto;

    p {
      text-align: left;
    }
  }
}
// END: Thank You Container

// Logo Container
.logo-container {
  @include outer-container;
  padding: 1em 0;
  background-color: #fff;

  // .logo {
  // }

}
@media (min-width: 20em) {
  .logo-container {
    text-align: center;

    .logo {
      max-width: 80%;
    }
  }
}
@media (min-width: 50em) {
  .logo-container {
    padding: 1em 1em;
    text-align: left;

    .logo {
      max-width: 200px;
    }
  }
}
// END: Logo Container

// Bands of Content
.band1 {
  background-color: #600;

  h2, p {
    color: #fff;
  }
}
@media (min-width: 20em) {
  .band1 {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .content {
      text-align: center;
    }
  }
}
@media (min-width: 50em) {
  .band1 {
    background-image: url('../images/stairs.jpg');

    .content {
      padding: 4em 4em 8em 0;
      text-align: right;

      p {
        margin-left: auto;
      }
    }
  }
}
.band2 {
  background-color: #fff;

}
@media (min-width: 20em) {
  .band2 {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .visual {
      display: none;
    }

    .content {
      text-align: center;
    }

  }
}
@media (min-width: 50em) {
  .band2 {
    padding: 0;
    background-image: url('../images/family-bg.jpg');

    .visual {
      display: block;

      img {
        width: 100%;
        float: right;
        margin-top: -5em;
      }
    }

    .content {
      padding: 4em 0 8em 4em;
      text-align: left;

      h2 {
        width: 80%;
        margin-right: auto;
      }
    }
  }
}

.band3 {
  background-color: #fff;
}
@media (min-width: 20em) {
  .band3 {
    .visual {
      display: block;
      padding: 1em 2em;
      margin: 0 auto;
      width: 80%;

      .video-wrapper {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

    }
    .content {
      text-align: center;
    }
  }
}
@media (min-width: 50em) {
  .band3 {

    .visual {
      width: 48.82117%;
    }
    .content {
      text-align: left;
      padding: 2em 2em 4em 2em;

    }
  }
}
.band4 {
  background-color: #600;
  .content {
    @include span-columns(12);
    color: #fff;
    padding: 2em 0em 2em;

    h2 {
      text-align: center;
      text-transform: uppercase;
    }
    p {
      font-size: 0.8em;
      line-height: 1.6;
      margin: 0 auto;
    }
  }
}
// @media (min-width: 50em) {
//   .band4 {
//     .content {
//     }
//   }
// }
// END: Bands of Content

// Hero Container
.hero-container {
  background-image: url('../images/tarmac.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  h1.title {
    color: #fff;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 20em) {
  .hero-container {
    padding-bottom: 2em;
  }

  h1.title {
    padding: 10em 1em 1em;
    font-size: 1.2em;
  }
}
@media (min-width: 50em) {
  .hero-container {
    padding-bottom: 2.6em;
  }

  h1.title {
    padding: 10em 1em 1em;
    font-size: 2em;
  }
}
// END: Hero Container
